body {
    background-image: url("../img/bg-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

img {
    height: 40% !important;
    width: 40% !important;
}

input {
    font-family: 'Source Sans 3', sans-serif !important;
}

span {
    color: #00CC99 !important;
}

span:hover {
    cursor: pointer;
}

.form-control:focus {
    background-color: #F4E9FD;
    border-color: rgba(146, 38, 237, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(146, 38, 237, 0.6);
    outline: 0 none;
}

.form-control::placeholder {
    color: #0C1525 !important;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}