.active,
.side-nav-item:hover,
.nav-item-type:hover {
    border-color: #9226ED;
}

.side-nav-item {
    cursor: pointer;
    border: 3px solid #FBFFFF;
    border-radius: 12px;
}

.nav-item-type {
    cursor: pointer;
    border: 3px solid #FBFFFF;
    border-radius: 12px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container-fluid {
    flex: 1;
    overflow-y: auto;
}

#card-area {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#order-area {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.accordion-button:not(.collapsed)::after {
    order: -1;
    margin-left: 0;
    margin-right: 0.5em;
    background-image: url("../img/home/expand-up.png");
}

.accordion-button.collapsed::after {
    order: -1;
    margin-left: 0;
    margin-right: 0.5em;
    background-image: url("../img/home/expand-b.png");
}