@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Source+Sans+3:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif !important;
    color: #0C1525 !important;
}

.color-bg-primary {
    background-color: #9226ED !important;
}

.color-bg-white {
    background-color: #FBFFFF !important;
}

.color-txt-white {
    color: #FBFFFF !important;
}

.color-txt-primary {
    color: #9226ED !important;
}

.color-txt-black {
    color: #0C1525 !important;
}

.w-60 {
    width: 60%;
}

body {
    background-image: url("../img/bg-9.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}