@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Source+Sans+3:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif !important;
    color: #0C1525 !important;
}

.color-bg-primary {
    background-color: #9226ED !important;
}

.color-bg-danger {
    background-color: #FB0B24 !important;
}

.color-bg-white {
    background-color: #FBFFFF !important;
}

.color-bg-light {
    background-color: #F4E9FD !important;
}

.color-txt-white {
    color: #FBFFFF !important;
}

.color-txt-primary {
    color: #9226ED !important;
}

.color-txt-black {
    color: #0C1525 !important;
}

.color-text-danger {
    color: #FB0B24 !important;
}

.w-60 {
    width: 60%;
}

.form-control:focus {
    background-color: #F4E9FD;
    border-color: rgba(146, 38, 237, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(146, 38, 237, 0.6);
    outline: 0 none;
}

.form-control::placeholder {
    color: #0C1525 !important;
}

body {
    background-image: url("../img/bg-9.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}